@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/*font-family: 'Amatic SC', cursive;*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
/*font-family: 'IBM Plex Sans', sans-serif;*/

* {
    padding: 0;
    margin: 0;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(90deg, #000, #c8d834);
}

.nav {
	position: sticky;
	top: 0;
	height: 100px;
	width: 100%;
	background: linear-gradient(90deg, #000, #c8d834);
	max-width: 100%;
	overflow: hidden;
}

.nav ul {
	position: relative;
	display: flex;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
	animation: nav 1s 1;
}

.nav ul li {
	list-style: none;
}

.nav ul li a {
	margin: 20px;
	font-size: 3em;
	text-decoration: none;
	color: #fff;
	font-family: 'IBM Plex Sans', sans-serif;
}

.pOne {
	position: sticky;
	height: 100vh;
	width: 100%;
	background: linear-gradient(#40ff00, #000);
	top: 0;
	z-index: 10;
	overflow: hidden;
}

.pOne h1 {
	position: relative;
	font-size: 7em;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
}

.pOne h2 {
	position: relative;
	font-size: 3em;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	animation: p1text 3s infinite;
}

.pTwo {
	position: sticky;
	height: 100vh;
	width: 100%;
	background: linear-gradient(#ffbf00, #000);
	top: 0;
	z-index: 14;
	overflow: hidden;
}

.pTwo h1 {
	position: relative;
	font-size: 7em;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
}

.pTwo h2 {
	position: relative;
	font-size: 3em;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	animation: p2text 3s infinite;
}

.pThree {
	position: sticky;
	height: 100vh;
	width: 100%;
	background: linear-gradient(#9900ff, #000);
	top: 0;
	z-index: 18;
	overflow: hidden;
}

.pThree h1 {
	position: relative;
	font-size: 4em;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	animation: p3text 3s infinite;
}

@keyframes nav {
	0% {
		opacity: 0;
		left: -5%;
	}
	50% {
		opacity: 0;
		left: -5%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@keyframes p1text {
	0%, 100% {
		letter-spacing: 10px;
	}
	50% {
		letter-spacing: 20px;
	}
}

@keyframes p2text {
	0%, 100% {
		margin-top: -40px;
	}
	50% {
		margin-top: 0px;
	}
}

@keyframes p3text {
	0%, 100% {
		filter: blur(100px);
	}
	50% {
		filter: blur(0px);	
	}
}

::-webkit-scrollbar {
	background: #000;
}
::-webkit-scrollbar-thumb {
	background: #666;
}