@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/*font-family: 'Amatic SC', cursive;*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
/*font-family: 'IBM Plex Sans', sans-serif;*/

* {
    padding: 0;
    margin: 0;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(90deg, #000, #c8d834);
}

.nav {
	position: sticky;
	top: 0;
	height: 100px;
	width: 100%;
	background: linear-gradient(90deg, #000, #c8d834);
	max-width: 100%;
	overflow: hidden;
}

.nav ul {
	position: relative;
	display: flex;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
	animation: nav 1s 1;
}

.nav ul li {
	list-style: none;
}

.nav ul li a {
	margin: 20px;
	font-size: 3em;
	text-decoration: none;
	color: #fff;
	font-family: 'IBM Plex Sans', sans-serif;
}

.pOne {
	position: sticky;
	height: 100vh;
	width: 100%;
	background: linear-gradient(#40ff00, #000);
	top: 0;
	z-index: 10;
	overflow: hidden;
}

.pOne h1 {
	position: relative;
	font-size: 7em;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
    font-family: 'Amatic SC', cursive;
    background: #000;
    border-radius: 100px;
}

.pOne h2 {
	position: relative;
	font-size: 3em;
	color: #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	animation: p1text 3s infinite;
}

.pTwo {
	position: sticky;
	height: 100vh;
	width: 100%;
	background: linear-gradient(#ffbf00, #000);
	top: 0;
	z-index: 14;
    overflow: hidden;
    align-content: center;
    align-items: center;
}

.pTwo .costs {
    position: absolute;
    display: inline-flex;
    height: 60%;
    width: 80%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pTwo .costs .price {
    position: relative;
    display: block;
    width: 90%;
    border-radius: 50px;
    background: #fff;
    margin: 10px;
    padding: 30px;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.pTwo .costs .price:nth-child(1) {
    animation: price1 4s linear infinite;
    box-shadow: 0 0 20px #40ff00;
}

.pTwo .costs .price:nth-child(2) {
    animation: price2 4s linear infinite;
    box-shadow: 0 0 20px #ea00ff;
}

.pTwo .costs .price:nth-child(3) {
    animation: price3 4s linear infinite;
    box-shadow: 0 0 20px #00eeff;
}

.pTwo .costs .price h1 {
    position: relative;
    display: block;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 4em;
    margin-top: 30px;
}

.pTwo .costs .price p {
    position: relative;
    display: block;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2em;
    margin-top: 30px;
}

.pTwo .costs .price h3 {
    position: relative;
    display: block;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2em;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    margin-top: 30px;
    transition: 0.2s;
}

.pTwo .costs .price h3:hover {
    color: #ea00ff;
}

@keyframes price1 {
	0%, 100%{
        border-radius: 14% 6% 9% 19% / 24% 14% 6% 17%;
    }
	25% {
        border-radius: 13% 10% 16% 16% / 9% 15% 18% 3%;
	}
	50% {
        border-radius: 25% 11% 14% 6% / 11% 23% 25% 4%;
	}
	75% {
        border-radius: 12% 16% 25% 14% / 22% 25% 14% 6%;
	}
}

@keyframes price2 {
	0%, 100%{
        border-radius: 12% 16% 25% 14% / 22% 25% 14% 6%;
    }
	25% {
        border-radius: 14% 6% 9% 19% / 24% 14% 6% 17%;
	}
	50% {
        border-radius: 25% 11% 14% 6% / 11% 23% 25% 4%;
	}
	75% {
        border-radius: 13% 10% 16% 16% / 9% 15% 18% 3%;
	}
}

@keyframes price3 {
	0%, 100%{
        border-radius: 13% 10% 16% 16% / 9% 15% 18% 3%;
    }
	25% {
        border-radius: 14% 6% 9% 19% / 24% 14% 6% 17%;
	}
	50% {
        border-radius: 12% 16% 25% 14% / 22% 25% 14% 6%;
    }
	75% {
        border-radius: 25% 11% 14% 6% / 11% 23% 25% 4%;
	}
}

@keyframes nav {
	0% {
		opacity: 0;
		left: -5%;
	}
	50% {
		opacity: 0;
		left: -5%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@keyframes p1text {
	0%, 100% {
		margin-top: -40px;
	}
	50% {
		margin-top: 0px;
	}
}

::-webkit-scrollbar {
	background: #000;
}
::-webkit-scrollbar-thumb {
	background: #666;
}